@use 'variables';

@keyframes slideCarouselFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideCarouselFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes indicatorButtonFadeIn {
    from {
        opacity: .3;
        width: 8px;
        height: 8px;
    }
    to {
        opacity: 1;
        width: 10px;
        height: 10px;
    }
}

@keyframes indicatorButtonFadeOut {
    from {
        opacity: 1;
        width: 10px;
        height: 10px;
    }
    to {
        opacity: 0.3;
        width: 8px;
        height: 8px;
    }
}

.carousel {
    padding: 6vw 6vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    height: 100%;
    position: relative;

    h2 {
        padding-bottom: 20px;
        letter-spacing: 2px;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-around;
        
        &__button {
            background-color: transparent;
            border: none;
            padding: 0 36px;
            margin-bottom: 20px;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid variables.$textColor;
            }
        }
    }

    &__inner {
        display: none;

        &--is-active {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            display: none;
            opacity: 0;
            animation: slideCarouselFadeOut forwards ease 1s;

            img {
                max-height: 400px;
                height: 100%;   

                @media (max-width: 768px) {
                    max-height: 300px;
                }
            }

            &--is-active {
                display: block;
                animation: slideCarouselFadeIn forwards ease 1s;
                opacity: 1;                
            }
        }
    }

    &__slide-button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        opacity: .5;
        cursor: pointer;
        transition: all ease .3s;

        &--left {
            left: 25%;

            @media (max-width: 1023px) {
                left: 15%;
            }

            @media (max-width: 768px) {
                left: 0%;
            }
        }

        &--right {
            right: 25%;
            
            @media (max-width: 1023px) {
                right: 15%;
            }

            @media (max-width: 768px) {
                right: 0%;
            }
        }

        &:hover {
            opacity: 1;
        }
        
        img {
            max-width: 100px;
            width: 100%;
        }
    }

    &__slide-indicators {
        display: flex;
        padding: 30px;
        max-width: 250px;
        width: 100%;
        justify-content: space-between;

        &__item {
            background-color: variables.$textColor;
            width: 10px;
            height: 10px;
            border: none;
            border-radius: 20px;
            opacity: .3;
            cursor: pointer;
            animation: indicatorButtonFadeOut forwards ease .5s;

            &--is-select {
                opacity: 1;
                width: 12px;
                height: 12px;
                animation: indicatorButtonFadeIn forwards ease .5s;
            }
        }
    }
}