.logos {
    padding: 2vw 6vw;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 768px) {
        display: block;
        padding: 2vw 0;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;

        @media (max-width: 768px) {
            padding: 0;
        }

        img {
            max-width: 200px;
            width: 100%;
            max-height: 200px;
            height: 100%;
        }

        h3 {
            padding: 16px;
            letter-spacing: 2px;
        }

        p {
            text-align: center;
            max-width: 60%;

            @media (max-width: 1023px) {
                max-width: 90%;
            }

            @media (max-width: 768px) {
                padding-bottom: 36px;
                max-width: 70%;
                text-align: justify;
            }
        }
    }
}